# Labeling - based on stationary close

In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.style.use('seaborn')
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [2]:
def load_data(root=None, remove=None, headers=None):
    data = Path('./OmegaDev/Model_Z/raw_data/GBP_USD_H1_2016-01-01_2018-01-01.csv') if root is None else Path(root)
    headers = ['date', 'complete', 'open', 'high', 'low', 'close', 'volume'] if headers is None else headers
    df = pd.read_csv(data, header=None, names=headers)
    return df

In [3]:
df = load_data()

In [26]:
def stationary_close(df, col='close', diff=1):
    """
    difference in timesteps. By default this will be set to 1 which in this case is 1 hour difference. 
    
    The difference should be the time-window that is used to label data.
    """
    return np.tanh(df[col].diff(diff))

In [27]:
df['stationary_close'] = stationary_close(df, 'close', 4)

In [28]:
df.head()

,date,complete,open,high,low,close,volume,stationary_close
0,2016-01-03T22:00:00,True,1.47352,1.47464,1.47351,1.47354,1068,NaN
1,2016-01-03T23:00:00,True,1.47343,1.47382,1.47266,1.47356,938,NaN
2,2016-01-04T00:00:00,True,1.47364,1.47412,1.47240,1.47278,570,NaN
3,2016-01-04T01:00:00,True,1.47284,1.47301,1.46936,1.47177,1133,NaN
4,2016-01-04T02:00:00,True,1.47183,1.47234,1.47041,1.47184,865,-0.0017